.navbar{
	background-color:#ff4d4d !IMPORTANT ; 

}

.container{/* la tabla*/
  padding:50px 10px 10px 10px !IMPORTANT;



}
.nav-link {/* Color del dropdown*/
      color: black !IMPORTANT;
}
.form-row{/*el buscador   */ 

	padding:80px 10px 10px 210px !IMPORTANT;
}

.btn{/* color del buscar */

  
	background-color:#ff4d4d;
	border-color: #ff4d4d;


}
.btn-primary:hover{/* Color del boton*/
  background-color: #ff4d4d;
}
 
th{/*color de la tabla*/
  background-color: #ff4d4d !IMPORTANT;
  border-color: #ff4d4d !IMPORTANT;

}

.page-link{
  color: black !IMPORTANT;

}
.avatar {/*  Fotito del aventon*/
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.misAutos{
  margin-top: 80px;
  margin-left: 200px;

}
.container3{

    padding: 10px 200px 50px 200px;
}
.noPoseeVeh{
  margin-left: 500px;
  margin-top: 200px;
  margin-right: 400px;
  margin-bottom: 200px;
 
}


.form-row>.col, .form-row>[class*=col-] {
    padding-right: 90px;
    padding-left: 5px;
    margin-left: -77px;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    margin-right: 65px;
    padding-left: 0px;
    list-style: none;
    border-radius: .25rem;
}