body{
    background: #fff;
}

.container{
    display: flex;
    position: absolute;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.avatarPerfil {
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style:  double;  
}

.seccionFile {
    display: flex;
    border: 1px solid #ced4da;
    border-color: #212529;
    border-radius: 0.25rem;
    width: 50%;
    height: 12%;
    background-color: #f17376;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.seccionFile:hover {
    background-color: #bd2130;
    border-color: #bd2130;
}



.seccionFile2 {
    align-items: center;
    position: relative;
    flex: 1 1 0%;
}

.parrafButton {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 50%;
    padding-top: 10px;    
    font-weight: 600;
}



.divFile {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
}

.inputFile {
    bottom: 0;
cursor: inherit;
font-size: 1000px !important;
height: 300px;
margin: 0;
opacity: 0;
padding: 0;
position: absolute;
right: 0;
}

.divSubmit {
    display:flex;
    position: absolute;
    cursor: pointer;
}

.seccionSubmit {
    display: flex;
    position: absolute;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-color: #212529;
    border-left-color:  #f17376;
    background-color: #f17376;
    width: 150px;
    height: 51px;
    left: 165px;
    bottom: 0%;
    top: 76.5%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.seccionSubmit:hover {
    background-color: #bd2130;
    border-color: #bd2130;
}



.seccionSubmit2 {
    align-items: center;
    position: relative;
    flex: 1 1 0%;
}

.inputSubmit {
    bottom: 0;
cursor: inherit;
font-size: 1000px !important;
height: 300px;
margin: 0;
opacity: 0;
padding: 0;
position: absolute;
right: 0;
}

.foto_perfil{
    display: inline-block;
    position: relative;
}

.input_foto{
    display:block;
}

.formulario{
    display: block;
    position: relative;
    left: 300px;
}

#boton1{
    display:block;
    width: 100%;
}

#boton2{
    display:block;
    width: 100%;
}

label{
    display:block!important;
}

.btn-primary {
    color: #fff;
    background-color: #f17376;
    border-color: #212529;
}

.btn-primary:hover {
  color: #fff;
  background-color: #bd2130;
  border-color: #bd2130;
}

.form-control {
    border: 0;
    padding: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #212529;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.29);
}

.btn-primary:focus, .btn-primary.focus {
 box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.29)!important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #bd2130;
}

.navbar{
	background-color:#ff4d4d !IMPORTANT ; 

}

#titulo3
{
    margin-left: auto;
    margin-right: auto;
    background-color: #ff4d4d;
    height: 50px;
    left: 50%;
    text-align: center;
    font-size: 170%;
    width: 1348px;
    display:inline-block;
}