/* ESTILOS NEGRO*/
#container{
    width: 300px;
    height: 520px;
    margin: 50px auto;
}

#container3{
    width: 350px;
    height: 520px;
    margin: 50px auto;
}

.atras{
    background-color:rgb(255,255,255);
    border-radius: 0.25rem;
    border: 1px solid #343a40;  
}

.navcss{
    position: relative;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.iniciarsesion{
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
    border: 1px solid;
    border-radius: .25rem;
}

.btn{/* color del buscar */

    margin-top: 30px;
    background-color:#ff4d4d;
    border-color: #ff4d4d;


}
.btn-primary:hover{
  background-color: #ff4d4d;
}
.btn-primary:focus, .btn-primary.focus { /*linea alrededor del boton rojo*/
 box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.29)!important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,/* cuando apretas el boton,queda el fondo rojo*/
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #bd2130;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #212529;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.29);
}

.btn-primary:hover {
    color: #fff;
    background-color: #bd2130!important;
    border-color: #ff4d4d;
}